<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}">


</head>

<body>
    <!-- Rest of your template -->

    <div class="container-fuild overflow-hidden">
        <div class="row me-2 ms-2">
            <div class="col">
                <nav class="navbar navbar-light navbar-transparent">
                    <a class="navbar-brand" href="{% url 'IntroHome' %}">
                        <img src="{% static 'img/logo1.png' %}" width="30" height="30" alt="">
                    </a>
                    <button class="theme-toggle-button theme-btn">Toggle Theme</button>
                </nav>
            </div>
        </div>
    </div>
    <h1 style="text-align: center; margin-top: 20px;">Edit Your Profile</h1>
    <form method="post" enctype="multipart/form-data">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">

                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% if username_message %}
                    <div class="alert alert-danger" role="alert">
                        {{ username_message }}
                    </div>
                    {% endif %}
                    {% if email_message %}
                    <div class="alert alert-danger" role="alert">
                        {{ email_message }}
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>

        <div style="display: flex; gap: 20px; justify-content: center;">
            <div>
                <h3>Current Profile Image</h3>
                {% if user_profile.profile_image %}
                <img src="{{ user_profile.profile_image.url }}" alt="Profile Picture" id="new-profile-preview">
                {% else %}
                <p>No profile image available.</p>
                {% endif %}
            </div>
            <div>
                <h3>New Profile Image</h3>
                <img src="#" alt="Profile Image" id="current-profile-preview">
            </div>
        </div>


        <span style="font-weight: bold;">
            <p class="p_o">{{ user_form.profile.label }}</p>
            {{ user_form.profile_image }}

        </span>

        <h2>Authentication Information</h2>
        <label for="id_username">Username:</label>
        <input type="text" id="id_username" name="username" value="{{ user.username }}" required>
        <label for="id_email">Email:</label>
        <input type="email" id="id_email" name="email" value="{{ user.email }}" required>
        <label for="id_first_name">First Name:</label>
        <input type="text" id="id_first_name" name="first_name" value="{{ user.first_name }}" required>
        <label for="id_last_name">Last Name:</label>
        <input type="text" id="id_last_name" name="last_name" value="{{ user.last_name }}" required>


        <h2>User Profile</h2>


        <span style="font-weight: bold;">
            {{ user_form.country.label }}
            {{ user_form.country }}

            {{ user_form.state.label }}
            {{ user_form.state }}

            {{ user_form.website_link.label }}
            {{ user_form.website_link }}

            {{ user_form.about_me.label }}
            {{ user_form.about_me }}
        </span>


        <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header" id="flush-headingOne">
                    <button style="color: black;" class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false"
                        aria-controls="flush-collapseOne">
                        {{ user_form.skills.label }}
                    </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body" style="background-color: var(--card-bg-color);">
                        {{ user_form.skills }}
                    </div>
                </div>
            </div>
        </div>



        <h2>Certifications</h2>
        <!-- Certifications Container -->
        <div id="certifications-container">
            {{ certification_formset.management_form }}

            <div id="certifications-forms">
                <!-- Display existing forms -->
                {% for form in certification_formset %}
                {{ form.as_p }}
                {% endfor %}
                <!-- Add New Certification button -->

            </div>
        </div>
        <button type="button" id="add-certification-btn">Add New Certification</button>

        <h2>Languages</h2>
        <!-- Languages Container -->
        <div id="languages-container">
            {{ language_formset.management_form }}
            <div id="languages-forms">
                <!-- Display existing forms -->
                {% for form in language_formset %}
                {{ form.as_p }}
                {% endfor %}
                <!-- Add New Language button -->

            </div>
        </div>
        <button type="button" id="add-language-btn">Add New Language</button>

        <button type="submit">Save Changes</button>
    </form>


    <script src="{% static 'js/theme.js' %}"></script>
    <script src="{% static 'js/edit_profile.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script>
        $(function () {
            $('.mytoolthip').tooltip();
        });
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Add New Certification button
            var addCertificationButton = document.getElementById('add-certification-btn');
            var certificationsContainer = document.getElementById('certifications-forms');
            var certificationEmptyForm = "{{ certification_formset.empty_form|escapejs }}";
            var certificationTotalFormsInput = document.getElementById('id_certifications-TOTAL_FORMS');
            var certificationFormIndex = {{ certification_formset.total_form_count }
        };

        addCertificationButton.addEventListener('click', function () {
            var newCertificationForm = document.createElement('div');
            newCertificationForm.innerHTML = certificationEmptyForm.replace(/__prefix__/g, certificationFormIndex);
            certificationsContainer.appendChild(newCertificationForm);
            certificationFormIndex++;
            certificationTotalFormsInput.value = certificationFormIndex;
        });

        // Add New Language button
        var addLanguageButton = document.getElementById('add-language-btn')
        var languagesContainer = document.getElementById('languages-forms')
        var languageEmptyForm = "{{ language_formset.empty_form|escapejs }}"
        var languageTotalFormsInput = document.getElementById('id_languages-TOTAL_FORMS')
        var languageFormIndex = {{ language_formset.total_form_count }}

        addLanguageButton.addEventListener('click', function () {
            var newLanguageForm = document.createElement('div');
            newLanguageForm.innerHTML = languageEmptyForm.replace(/__prefix__/g, languageFormIndex);
            languagesContainer.appendChild(newLanguageForm);
            languageFormIndex++;
            languageTotalFormsInput.value = languageFormIndex;
        });

        var profileImageInput = document.getElementById('id_profile_image')

        var profileImagePreview = document.getElementById('current-profile-preview')

        profileImageInput.addEventListener('change', function (event) {
            var selectedImage = event.target.files[0]
            if (selectedImage) {
                profileImagePreview.src = URL.createObjectURL(selectedImage)
            }
        });
});

    </script>
</body>

</html>