<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">


    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/seller_detials_of_order.css' %}">


</head>

<body>

    <div class="container-fluid ">
        <div class="row ">
            <nav class="navbar  navbar-expand-lg navbar-light navbar-transparent ">
                <div class="container-fluid">
                    <!-- Navbar Brand (Logo) -->
                    <a class="navbar-brand" href="{% url 'IntroHome' %}">
                        <img src="{% static 'img/logo1.png' %}" alt="" width="30" height="30">
                    </a>

                    <!-- Navbar Toggler for small screens (moved to the right) -->
                    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon "></span>
                    </button>


                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="d-flex ms-auto">
                            <ul class="navbar-nav ">
                                <li class="nav-item">
                                    {% for order, service, transactions in orders_services_transactions %}
                                    <a class="nav-link" href="{% url 'userchat' order.id user.username %}">chat</a>
                                    {% endfor %}
                                </li>

                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        Dashboard
                                    </a>
                                    <ul class="dropdown-menu">

                                        <li><a class="dropdown-item"
                                                href="{% url 'seller_dashboard' user.username %}">Seller
                                                Dashboard</a></li>
                                        <li><a class="dropdown-item"
                                                href="{% url 'buyer_dashboard' user.username %}">Buyer
                                                Dashboard</a></li>
                                        {% if user.is_superuser%}
                                        <li><a class="dropdown-item"
                                                href="{% url 'admin_dashboard' user.username %}">Admin
                                                Dashboard</a></li>
                                        {% endif %}


                                        <li><a class="dropdown-item" href="#">Settings</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        Profile
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="{% url 'view_profile_public' user.username %}">View
                                                Profile</a></li>
                                        <li><a class="dropdown-item" href="{% url 'edit_profile' user.username %}">Edit
                                                Profile</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="{% url 'list_all_the_order' user.username %}">My
                                                Purchases</a></li>
                                        <li><a class="dropdown-item" href="#">Settings</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                                    </ul>

                                </li>
                                <!-- <li class="nav-item">
                                    <form class="d-flex me-2 ms-1">
                                        <input class="form-control me-2"
                                            style="  outline: none;box-shadow: none;width: 250px;" type="search"
                                            placeholder="Search" aria-label="Search">
                                        <button class="btn btn-search" type="submit"
                                            style="color: var(--text);  outline: none;box-shadow: none;">Search</button>
                                    </form>
                                </li> -->




                            </ul>
                        </div>

                        <div class="d-flex ms-auto">
                            <a class="btn loginbtn me-2" style="color: var(--text);"
                                href="{% url 'logout' %}">Logout</a>
                            <button data-bs-toggle="tooltip" data-bs-placement="bottom" title="Dark/Light Mode"
                                class="theme-toggle-button  theme-btn mt-4 ms-0 ms-lg-2 mt-lg-0 mytoolthip">Toggle
                                Theme</button>
  
                            {% for log_user in  user_profile %}
                            <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="View Profile"
                                class="navbar-brand mytoolthip"
                                href="{% url 'view_profile_public' log_user.user.username %}">
                                {% if log_user.profile_image %}
                                <img src="{{ log_user.profile_image.url }}"
                                    style="width: 35px;height:35px;object-fit: cover;float: left;"
                                    class="rounded-circle mt-3 ms-0 ms-lg-2 mt-lg-0" alt="" width="30" height="30">
                                {% else %}
                                <!-- Handle case when profile image does not exist -->
                                <!-- You can show a default image or any other content here -->
                                <img src="{% static 'img/user.png' %}"
                                    style="width: 35px;height:35px;object-fit: cover;float: left;"
                                    class="rounded-circle mt-3 ms-0 ms-lg-2 mt-lg-0" alt="" width="30" height="30">
                                {% endif %}
                            </a>
                            {% endfor %}
                        </div>



                    </div>
                </div>
            </nav>
        </div>
        <hr>
    </div>


    <div class="container mt-5">
        <div class="row">


            {% for order, service, transactions in orders_services_transactions %}
            <div class="col">

                <h1>Order #{{ order.id }}</h1>
                <p style="float: left;" class="me-2"><strong>Seller</strong> : <a class="text-muted"
                        style="text-decoration: none;cursor: pointer;"
                        href="{% url 'view_profile_public' order.seller %}">@{{order.seller}}</a></p>
                <p class="text-muted ms-2 me-2" style="float: left;">View History </p>
                <p> <a class="text-muted ms-2" style="text-decoration: none;"
                        href="{% url 'view_service_profile' order.service.id %}">View Package</a></p>
                <hr>
                <p>Ordered Date: {{ order.created_at }}</p>
                <p>Delivary Date: {{ order.delivery_date }}</p>
                <hr>

                {% if order_requirements %}

                {% for order_requirement in order_requirements %}
                <h3>Requirements:</h3>
                <div id="read-more" class="read-more-class">
                    <p> <i class="fa fa-circle-question"></i> Default question</p>
                    <p>{{ order_requirement.description }}</p>
                    <p><i class="fa fa-circle-question"></i> Answer to the R question:</p>
                    <p>{{ order_requirement.description }}</p>
                    <a href="{% url 'submit_requirements' order.transaction.id request.user.username %}"> Edit
                        Requirements</a>
                </div>
                <p style="cursor: pointer;" onclick="myFunction()" id="myBtn">Hide</p>
                {% endfor %}
                {% else %}
                <h1>No Requirements Uploaded</h1>
                <a class="btn loginbtn" style="color: var(--text);"
                    href="{% url 'submit_requirements' order.transaction.id request.user.username %}">Upload Your
                    Requirements</a>
                <p></p>
                {% endif %}



                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Package name</th>
                            <th scope="col">Due to</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{order.service.titleOverview | slice:"30"}}...</td>
                            <td>{{order.transaction.package_name}}</td>
                            <td>{{order.delivery_date}}</td>
                            <td>{{order.transaction.amount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                <div class="timer-container">
                    {% if order.status == "in_progress" or order.status == "pending" %}
                    <h6>Time left to deliver</h6>
                    <div id="timer"></div>
                    {% endif %}
                    <form action="" method="POST" class="mt-5">
                        {% if order.status == 'in_progress' %}
                        <!-- <button type="submit" name="status_order" value="cancel" class="btn btn-danger">
                            <i class="fas fa-times"></i> Cancel
                        </button> -->
                        {% endif %}
                        {% if order.status == 'pending' %}
                        <button type="submit" name="status_order"  value="cancel" class="btn btn-danger">
                            <i class="fas fa-times"></i> Cancel
                        </button>

                        {% elif order.status == 'cancelled' %}
                        <p class="alert alert-danger m-1">
                            <i class="fas fa-exclamation-triangle"></i> You <strong>cancelled</strong> this order
                        </p>
                        {% elif order.status == 'expired' %}
                        <p class="alert alert-danger m-1">
                            <i class="fas fa-exclamation-triangle"></i> This order is <strong>expired</strong>
                        </p>
                        {% elif order.status == 'return' %}
                        <p class="alert alert-secondary m-1">
                            <i class="fas fa-exclamation-triangle"></i> This delivary is <strong>Return</strong>
                        </p>
                        {% elif order.status == 'delivered' %}
                        <p class="alert alert-primary m-1">
                            <i class="fas fa-check-circle"></i> This order is <strong>delivered</strong>
                        </p>
                        {% elif order.status == 'completed' %}
                        <p class="alert alert-success m-1">
                            <i class="fas fa-check-circle"></i> This order is <strong>completed</strong>
                        </p>
                        {% endif %}
                    </form>



                    {% for item in delivary_item %}
                    <div class="delivery-item">
                        <p>Delivery Notes: {{ item.delivery_notes }}</p>
                        <p>Order Delivered Date: {{ item.order_delivered_date }}</p>
                        {% if item.delivery_file %}


                        <a href="{{ item.delivery_file.url }}" class="btn btn-primary" download>Download ZIP</a>
                        {% if order.status == "completed" %}

                        {% elif order.status == "return" %}

                        {% elif order.status == "example" %}

                        {% elif order.status == "delivered" %}
                        <form class="mt-5" action="" method="post">
                            <input class="btn btn-success p-2 rounded" type="submit" name="ok"
                                value="yes,appove the delivary">

                            <input class="btn btn-success p-2 rounded" type="submit" name="no"
                                value="i am not ready of yet">
                        </form>
                        {% endif %}
                        {% else %}
                        <p>No order available for download.</p>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>

    </div>


    <script>
        var time1 = '{{ order.delivery_date }}';
        var countdownDate = new Date(time1).getTime();
        countdownDate += 24 * 60 * 60 * 1000;
        var x = setInterval(function () {
            var now = new Date().getTime();
            var timeRemaining = countdownDate - now;
            var days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));

            var hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);
            var timerElement = document.getElementById("timer");
            timerElement.innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";

            if (timeRemaining < 0) {
                clearInterval(x);
                timerElement.innerHTML = "Order expired!";
            }


        }, 1000); 
    </script>
    {% endfor %}


    <script src="{% static 'js/theme.js' %}"></script>
    <script src="{% static 'js/seller_detials_of_order.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script>
        $(function () {
            $('.mytoolthip').tooltip();
        });
    </script>
</body>

</html>