<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <style>
        .col-md-3 {
            margin-left: 5rem;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }

        .timer-container {
            text-align: center;
            margin-top: 20px;
        }

        h6 {
            font-size: 18px;
            color: #333;
            margin-bottom: 10px;
        }

        #timer {
            font-size: 24px;
            font-weight: bold;
            color: #e74c3c;
            /* Red color for timer text */
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <div class="row">
            {% for order, service, transactions in orders_services_transactions %}
            <div class="col border">
                <h1>Order #{{ order.id }}</h1>
                <p>Ordered Date: {{ order.created_at }}</p>
                <p>Delivary Date: {{ order.delivery_date }}</p>
                <hr>
                {% for order_requirement in order_requirements %}
                <h4>Requirements:</h4>
                <div id="read-more">
                    <p>Default question</p>
                    <p>{{ order_requirement.description }}</p>
                    <p>Answer to the question:</p>
                    <p>{{ order_requirement.description }}</p>
                </div>

                <p class="text-primary" style="cursor: pointer;" onclick="myFunction()" id="myBtn">Hide</p>
                {% endfor %}
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Package name</th>
                            <th scope="col">Due to</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{order.service.titleOverview}}</td>
                            <td>{{order.transaction.package_name}}</td>
                            <td>{{order.delivery_date}}</td>
                            <td>{{order.transaction.amount}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col ms-5 border">
                <div class="timer-container">
                    {% if order.status == "in_progress" or order.status == "pending" %}
                    <h6>Time left to deliver</h6>
                    <div id="timer"></div>

                    {% endif %}
                    <form action="" method="POST" class="mt-5">
                        {% if order.status == 'in_progress' %}
                        <!-- <button type="submit" name="status_order" value="cancel" class="btn btn-danger">
                            <i class="fas fa-times"></i> Cancel
                        </button> -->
                        {% endif %}
                        {% if order.status == 'pending' %}
                        <button type="submit" name="status_order" value="cancel" class="btn btn-danger">
                            <i class="fas fa-times"></i> Cancel
                        </button>

                        {% elif order.status == 'cancelled' %}
                        <p class="alert alert-danger m-1">
                            <i class="fas fa-exclamation-triangle"></i> You <strong>cancelled</strong> this order
                        </p>
                        {% elif order.status == 'expired' %}
                        <p class="alert alert-danger m-1">
                            <i class="fas fa-exclamation-triangle"></i> This order is <strong>expired</strong>
                        </p>
                        {% elif order.status == 'return' %}
                        <p class="alert alert-secondary m-1">
                            <i class="fas fa-exclamation-triangle"></i> This delivary is <strong>Return</strong>
                        </p>
                        {% elif order.status == 'delivered' %}
                        <p class="alert alert-primary m-1">
                            <i class="fas fa-check-circle"></i> This order is <strong>delivered</strong>
                        </p>
                        {% elif order.status == 'completed' %}
                        <p class="alert alert-success m-1">
                            <i class="fas fa-check-circle"></i> This order is <strong>completed</strong>
                        </p>
                        {% endif %}
                    </form>

                    {% for item in delivary_item %}
                    <div class="delivery-item">
                        <p>Delivery Notes: {{ item.delivery_notes }}</p>
                        <p>Order Delivered Date: {{ item.order_delivered_date }}</p>
                        <p><a href="{% url 'userchat' order.id user.username %}">chat</a></p>
                        {% if item.delivery_file %}

        
                        <a href="{{ item.delivery_file.url }}" class="btn btn-primary" download>Download ZIP</a>
                        {% if order.status == "completed" %}

                        {% elif order.status == "return" %}

                        {% elif order.status == "example" %}

                        {% else %}
                        
                        <form class="mt-5" action="" method="post">
                            <input class="btn btn-success p-2 rounded" type="submit" name="ok"
                                value="yes,appove the delivary">

                            <input class="btn btn-success p-2 rounded" type="submit" name="no"
                                value="i am not ready of yet">
                            </form>
                            {% endif %}
                            {% else %}
                            <p>No order available for download.</p>
                            {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>

    </div>
    <script>
        function myFunction() {
            var readmore = document.getElementById("read-more");
            var btnText = document.getElementById("myBtn");
            if (readmore.style.display === "none") {
                readmore.style.display = "inline"
                btnText.innerHTML = "Hide";
            } else {
                readmore.style.display = "none";
                btnText.innerHTML = "Show";

            }

        }
    </script>
    <script>
        var time1 = '{{ order.delivery_date }}';
        var countdownDate = new Date(time1).getTime();
        var x = setInterval(function () {
            var now = new Date().getTime();
            var timeRemaining = countdownDate - now;
            var days = Math.floor(timeRemaining / (1000 * 60 * 60 * 24));
            var hours = Math.floor((timeRemaining % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((timeRemaining % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((timeRemaining % (1000 * 60)) / 1000);
            var timerElement = document.getElementById("timer");
            timerElement.innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
            if (timeRemaining < 0) {
                clearInterval(x);
                timerElement.innerHTML = "Order expired!";
            }
        }, 1000); 
    </script>
    {% endfor %}
</body>

</html>



<