asgiref==3.7.2
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.2.0
Django==4.2.4
django-bootstrap-v5==1.0.11
idna==3.4
Pillow==10.0.0
PyYAML==6.0.1
razorpay==1.4.1
requests==2.31.0
soupsieve==2.4.1
sqlparse==0.4.4
stripe==6.6.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
setuptools
python-dotenv==1.0.0
dj-database-url==2.0.0
whitenoise==6.5.0