<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
        }
    </style>
</head>

<body>

    <div class="confirmation-dialog">
        <h1>Confirm Deletion</h1>
        <p>Are you sure you want to delete the overview "{{ overview.title }}"?</p>
        <form method="post" action="{% url 'delete_service' request.user.username overview.id %}">
            {% csrf_token %}
            <button type="submit" name="confirm_delete">Confirm</button>
            <a href="{% url 'IntroHome' %}">Cancel</a>
        </form>

    </div>
</body>

</html>