<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Service</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet"
    href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% load static %}

  <link rel="stylesheet" href="{% static 'css/edit_service.css' %}">

  <script src="https://cdn.ckeditor.com/ckeditor5/11.0.1/classic/ckeditor.js"></script>

</head>

<body>

  <div class="container-fuild overflow-hidden">
    <div class="row me-2 ms-2">
      <div class="col">
        <nav class="navbar navbar-light navbar-transparent">
          <a class="navbar-brand" href="{% url 'IntroHome' %}">
            <img src="{% static 'img/logo1.png' %}" width="30" height="30" alt="">
          </a>
          <button class="theme-toggle-button theme-btn">Toggle Theme</button>
        </nav>
      </div>
    </div>
  </div>
  <!-- -----------------new html above---------------------------- -->


  <div class="container-fluid main-form-contents">
    <div class="row">
      <div class="col-12">
        <center>
          <form method="post" enctype="multipart/form-data">
            <h1 class="mt-5">Edit Job Profile</h1>
            <div class="step active">

              <div class="container-fluid">
                <div class="row">
                  <div class="col-12">
                    <h3>Overview</h3>
                  </div>
                </div>

                <div class="row mb-3" style="cursor: pointer;">
                  <div class="col-12 fw-bold" data-bs-toggle="popover" data-bs-trigger="hover focus"
                    data-bs-placement="left"
                    data-bs-content="Title is the most important place to include keywords that buyers would likely use to search for a service like yours.">
                    <i class="las la-question-circle"></i> Service Title
                  </div>

                  <div class="col-12 mt-1">
                    <i class="las la-question-circle"></i> {{ overview_form.titleOverview }}
                  </div>
                </div>

                <div class="row mb-3" style="cursor: pointer;">
                  <div class="col-12 fw-bold" data-bs-toggle="popover" data-bs-trigger="hover focus"
                    data-bs-placement="left" data-bs-content="Choose the category most suitable for your Job.">
                    <i class="las la-question-circle"></i> Category
                  </div>
                  <div class="col-12 mt-1">
                    {{ overview_form.category }}
                  </div>
                </div>

                <div class="row mb-3" style="cursor: pointer;">
                  <div class="col-12 fw-bold" data-bs-toggle="popover" data-bs-trigger="hover focus"
                    data-bs-placement="left"
                    data-bs-content="Tag your Job Profile with buzz words that are relevant to the services you offer. Use all 5 tags to get found.use #tags">
                    <i class="las la-question-circle"></i> Search tags
                  </div>
                  <div class="col-12 mt-1">
                    {{ overview_form.search_tags }}
                  </div>
                </div>
                <button class="next-step">Save <tl>&</tl> Continue</button>
              </div>
            </div>


            <div class="step">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Package</th>
                    <th scope="col">BASIC</th>
                    <th scope="col">STANDARD</th>
                    <th scope="col">PREMIUM</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row mb-3" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="left"
                      data-bs-content="Describe the details of your offering in the area provided,
                      Choose an eye-catching title for each of your packages, and make certain that the difference between them is crystal clear">
                      <i class="las la-question-circle"></i> Title
                    </th>
                    <td class="packagaetitle">{{ basic_package_form.Basic_title }}</td>
                    <td class="packagaetitle">{{ standard_package_form.Standard_title }}</td>
                    <td class="packagaetitle">{{ premium_package_form.Premium_title }}</td>
                  </tr>
                  <tr>
                    <th scope="row mb-3" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="left"
                      data-bs-content="Briefly explain what’s included in each package, and why you’ve included it. You’re only allowed 100 characters here, so you may have to get creative to fit in everything you’d like to say. Just make sure the offerings are clear to any potential buyers. - short this sentence ">
                      <i class="las la-question-circle"></i> Description
                    </th>
                    <td>{{ basic_package_form.Basic_description }}</td>
                    <td>{{ standard_package_form.Standard_description }}</td>
                    <td>{{ premium_package_form.Premium_description }}</td>
                  </tr>
                  <tr>
                    <th scope="row mb-3" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="left"
                      data-bs-content="How long you’ll take to complete a project. Depending on the scope of the work, this may vary greatly between packages.">
                      <i class="las la-question-circle"></i> Delivery Time
                    </th>
                    <td>{{ basic_package_form.Basic_delivery_time }}</td>
                    <td>{{ standard_package_form.Standard_delivery_time }}</td>
                    <td>{{ premium_package_form.Premium_delivery_time }}</td>
                  </tr>
                  <tr>
                    <th scope="row mb-3" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="left"
                      data-bs-content="The number of times you’ll alter your work upon the buyer’s request. Premium packages often include additional revisions.">
                      <i class="las la-question-circle"></i> Revisions
                    </th>
                    <td>{{ basic_package_form.Basic_revisions }}</td>
                    <td>{{ standard_package_form.Standard_revisions }}</td>
                    <td>{{ premium_package_form.Premium_revisions }}</td>
                  </tr>

                  <tr>
                    <th scope="row mb-3" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="left"
                      data-bs-content="Include the source file or not">
                      <i class="las la-question-circle"></i> Source File
                    </th>
                    <td>{{ basic_package_form.Basic_source_file }}</td>
                    <td>{{ standard_package_form.Standard_source_file }}</td>
                    <td>{{ premium_package_form.Premium_source_file }}</td>
                  </tr>

                  <tr>
                    <th scope="row mb-3" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="left"
                      data-bs-content="Each package can be priced anywhere from 50 to - . Your basic package should always be priced lowest (50-), and your premium the highest(150-). Remember, you can always change your price later, so in the beginning, it may be smart to keep them low to help build reviews">
                      <i class="las la-question-circle"></i> Price
                    </th>
                    <td>{{ basic_package_form.Basic_price }}</td>
                    <td>{{ standard_package_form.Standard_price }}</td>
                    <td>{{ premium_package_form.Premium_price }}</td>
                  </tr>

                </tbody>
              </table>
              <br>
              <br>
              <button class="prev-step">Previous</button>
              <button class="next-step">Save <tl>&</tl> Continue</button>
            </div>
            <div class="step">
              <h2 data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="left"
                data-bs-content="Briefly describe your Service Profile in up to 1,200 characters. Provide detailed information so clients can assess if your Service Profile meets their needs. Exclude non-approved URLs from Fiverr and avoid adding contact information.">
                <i class="las la-question-circle"></i> Description
              </h2>
              <p style="color: var(--user-name-color);">Briefly Describe Your Gig</p>
              <textarea style="color: black;" name="{{ description_form.description.name }}" id="editor">
                &lt;p&gt; {{ description_form.description.value }} &lt;/p&gt;
              </textarea>

              <button class="prev-step">Previous</button>
              <button class="next-step mt-5">Save <tl>&</tl> Continue</button>
            </div>

            <div class="step">
              <h2 data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="left"
                data-bs-content="This is where you’ll include any requirements that are necessary for your buyer to supply in order for you to complete the job.">
                <i class="las la-question-circle"></i> Add questions
              </h2>
              <p style="color: var(--user-name-color);">Add questions to help buyers provide you with exactly what <br>
                you need to start working on their order.</p>
              {{ question_form.as_p }}
              <button class="prev-step">Previous</button>
              <button class="next-step">Save <tl>&</tl> Continue</button>
            </div>

            <div class="step">
              <h2 <h2 data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-placement="left"
                data-bs-content="Get noticed by the right buyers with visual examples of your services.Show some of the best work you created in a document">
                <i class="las la-question-circle"></i>Showcase Your Services In A Service Gallery
              </h2>
              <p style="color: var(--user-name-color);">Encourage buyers to choose your Service Profile by featuring a
                variety of your work.</p>
              <label style="display: block; margin-top: 10px; font-weight: bold;">Thumbnail</label>
              {{ gallery_form.image1 }}
              <label style="display: block; margin-top: 10px; font-weight: bold;">{{ gallery_form.image2.label
                }}</label>
              {{ gallery_form.image2 }}
              <label style="display: block; margin-top: 10px; font-weight: bold;">{{ gallery_form.image3.label
                }}</label>
              {{ gallery_form.image3 }}
              <label style="display: block; margin-top: 10px; font-weight: bold;">Documents</label>
              {{ gallery_form.video }}
              <button class="prev-step">Previous</button>
              <button class="publish-btn" type="submit">Publish</button>
            </div>
          </form>
        </center>
      </div>
    </div>
  </div>




  <script>
    ClassicEditor
      .create(document.querySelector('#editor'))
      .catch(error => {
        console.error(error);
      }); 
  </script>

  <script src="{% static 'js/theme.js' %}"></script>
  <script src="{% static 'js/create_service.js' %}"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

  <script>
    $(function () {
      $('.mytoolthip').tooltip();
    });
  </script>

  <script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })
  </script>
</body>

</html>