<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}

  <style>
    @font-face {
      font-family: Delicious;
      src: url('Delicious-Roman.otf');
    }



    .main-title {
      color: #404145;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: 700;
    }

    .name-of-seller {
      color: #404145;
      text-decoration: none;
      font-size: 1.5rem;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-style: normal;
    }

    .name-of-seller:hover {
      color: #404145;
    }

    .d-block {
      width: 100%;
      height: 400px;
      object-fit: cover;
      border-radius: 10px;
    }

    .section-title {
      font-size: 20px;
      line-height: 28px;
      padding-bottom: 25px;
      color: #404145;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-weight: 700;
    }

    .user-name-profile {
      font-size: 0.9rem;
      color: #74767e;
      font-weight: 100;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .main-container {
      width: 60%;
      margin: auto;
      border: 2px solid #ddd;
    }

    .header-row {
      display: flex;
      background-color: #f1f1f1;
      border-bottom: 2px solid #ddd;
    }

    .header-cell {
      flex: 1;
      text-align: center;
      padding: 10px;
      font-weight: bold;
      cursor: pointer;
      border-right: 1px solid #ddd;
      color: #74767e;
    }

    .header-cell:last-child {
      border-right: none;

    }

    .details {
      display: none;
      width: 100%;
    }

    .details-cell {
      width: 100%;
      padding: 20px;
    }

    .package {
      border: 2px solid #ddd;
      padding: 20px;
      text-align: left;
    }

    .package-price {
      font-size: 1.5em;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .package-header {
      font-size: 1.2em;
      font-weight: 400;
      margin-bottom: 10px;
    }


    .package-content {
      font-size: 0.9em;
      line-height: 1.5;
    }
  </style>

</head>

<body>
  <div class="container">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' user.username %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile' user.username %}">View Profile</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Profile
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'profile' user.username %}">View Profile</a></li>
                <li><a class="dropdown-item" href="{% url 'edit_profile' user.username %}">Edit Profile</a>
                </li>
                <li><a class="dropdown-item" href="#">Become Seller</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
              </ul>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </li> -->
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>


    <!-- navbar  -->
    <div class="row">
      <div class="col-md-6">

        <div class="row">
          <div class="col-md-12">
            <p style="font-size:small;" class="ms-1 mt-1">{{service_profile.category}}</p>
          </div>
          <div class="col-md-12 main-title text-capitalize">
            <h4>{{service_profile.titleOverview}}</h4>
          </div>
          <div class="col mt-1">

            <img class="rounded-circle me-1" src="{{ user_profile.profile_image.url }}"
              style="width: 40px;height:40px;object-fit: cover;float: left;" alt="...">
            <a style="float: left;" class="name-of-seller" href="{% url 'view_profile_public' service_profile.user %}">
              <p class="user-name text-lowercase ms-4 fw-bold">
                {{service_profile.user.first_name}} {{service_profile.user.last_name}} <span
                  class="user-name-profile">(@{{user_profile.user.username}})</span>
              </p>
            </a>


            {% if user == user_profile.user %}
            <a href="{% url 'edit_service' service_profile.id %}">
              <button type="button" class="btn ms-2" style="border: 1px solid #404145;"> <i
                  class="fa-regular fa-pen-to-square"></i>EDIT</button>
            </a>
            {% endif %}


            <div class="col">
              {% for gallery in gallery %}
              <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="{{gallery.image1.url}}" class="d-block" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{{gallery.image2.url}}" class="d-block" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="{{gallery.image3.url}}" class="d-block" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                  data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                  data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              {% endfor %}
            </div>

            <div class="col mt-3">
              <p class="card-text">
                <i class="fa-solid fa-star fa-sm"></i>
                <span style="font-size: medium;" class="fw-bold">{{service_profile.rating}}</span>
              </p>
              <h3 class="section-title">About this Service</h3>
              {% for description in description %}
              <p>
                {{description.description|safe}}
              </p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row">




          <center>

        </div>
        <div class="main-container mt-5">
          <div class="header-row">
            <div class="header-cell" id="basic-button">Basic</div>
            <div class="header-cell" id="standard-button">Standard</div>
            <div class="header-cell" id="premium-button">Premium</div>
          </div>

          {% for basic_pack in basic_packages %}
          <div id="basic-details" class="details">
            <div class="details-cell">
              <div class="package">
                <h4 class="package-price">₹{{ basic_pack.Basic_price }}</h4>
                <h4 class="package-header">{{ basic_pack.Basic_title }}</h4>
                <div class="package-content">
                  <p>{{ basic_pack.Basic_description }}</p>
                  <p style="color: #74767e">
                    <span>
                      <i class="fa-regular fa-clock" style="color: #74767e"></i>
                      {{ basic_pack.Basic_delivery_time }} Days Delivery
                    </span>
                    <span class="ms-2">
                      <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#74767e"
                          d="M4.50001 11.4999C6.40001 13.3999 9.60001 13.3999 11.5 11.4999C12.2 10.7999 12.7 9.7999 12.9 8.7999L14.9 9.0999C14.7 10.5999 14 11.8999 13 12.8999C10.3 15.5999 5.90001 15.5999 3.10001 12.8999L0.900012 15.0999L0.200012 8.6999L6.60001 9.3999L4.50001 11.4999Z">
                        </path>
                        <path fill="#74767e"
                          d="M15.8 7.2999L9.40001 6.5999L11.5 4.4999C9.60001 2.5999 6.40001 2.5999 4.50001 4.4999C3.80001 5.1999 3.30001 6.1999 3.10001 7.1999L1.10001 6.8999C1.30001 5.3999 2.00001 4.0999 3.00001 3.0999C4.40001 1.6999 6.10001 1.0999 7.90001 1.0999C9.70001 1.0999 11.5 1.7999 12.8 3.0999L15 0.899902L15.8 7.2999Z">
                        </path>
                      </svg>
                      {{ basic_pack.Basic_revisions }} Revision
                    </span>
                  </p>
                  {% if basic_pack.Basic_source_file %}
                  <p><i class="fa-solid fa-check"></i> <span class="ms-1">source_file include</span></p>
                  {% else %}
                  <p><i class="fa-solid fa-x fa-rotate-90" style="color: #74767e"></i><span style="color: #74767e"
                      class="ms-2">source_file include</span></p>
                  {% endif %}
                  <a href="{% url 'payments' service_profile.id %}?additional_data={{ basic_pack.overview.id }}&additional_data2=1"
                    class="package-continue-btn">
                    <button style="width: 100%;" type="button" class="btn btn-dark btn-lg">
                      Continue<i class="fa-solid fa-right-long fa-2xs ms-4" style="color: white;"></i>
                    </button>
                  </a>


                </div>
              </div>
            </div>
          </div>
          {% endfor %}


          {% for standard_pack in standardpackage %}
          <div id="standard-details" class="details">
            <div class="details-cell">
              <div class="package">
                <h4 class="package-price">₹{{ standard_pack.Standard_price }}</h4>
                <h4 class="package-header">{{ standard_pack.Standard_title }}</h4>
                <div class="package-content">
                  <p>{{ standard_pack.Standard_description }}</p>
                  <p style="color: #74767e">
                    <span>
                      <i class="fa-regular fa-clock" style="color: #74767e"></i>
                      {{ standard_pack.Standard_delivery_time }} Days Delivery
                    </span>
                    <span class="ms-2">
                      <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#74767e"
                          d="M4.50001 11.4999C6.40001 13.3999 9.60001 13.3999 11.5 11.4999C12.2 10.7999 12.7 9.7999 12.9 8.7999L14.9 9.0999C14.7 10.5999 14 11.8999 13 12.8999C10.3 15.5999 5.90001 15.5999 3.10001 12.8999L0.900012 15.0999L0.200012 8.6999L6.60001 9.3999L4.50001 11.4999Z">
                        </path>
                        <path fill="#74767e"
                          d="M15.8 7.2999L9.40001 6.5999L11.5 4.4999C9.60001 2.5999 6.40001 2.5999 4.50001 4.4999C3.80001 5.1999 3.30001 6.1999 3.10001 7.1999L1.10001 6.8999C1.30001 5.3999 2.00001 4.0999 3.00001 3.0999C4.40001 1.6999 6.10001 1.0999 7.90001 1.0999C9.70001 1.0999 11.5 1.7999 12.8 3.0999L15 0.899902L15.8 7.2999Z">
                        </path>
                      </svg>
                      {{ standard_pack.Standard_revisions }} Revision
                    </span>
                  </p>


                  {% if standard_pack.Standard_source_file %}
                  <p><i class="fa-solid fa-check"></i> <span class="ms-1">source_file include</span></p>
                  {% else %}
                  <p><i class="fa-solid fa-x fa-rotate-90" style="color: #74767e"></i><span style="color: #74767e"
                      class="ms-2">source_file include</span></p>
                  {% endif %}

                  


                  <a href="{% url 'payments' service_profile.id %}?additional_data={{ standard_pack.overview.id }}&additional_data2=2"
                    class="package-continue-btn">
                    <button style="width: 100%;" type="button" class="btn btn-dark btn-lg">Continue<i
                        class="fa-solid fa-right-long fa-2xs ms-4" style="color: white;"></i></button>
                    </button></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}


          {% for premium_pack in premiumpackage %}
          <div id="premium-details" class="details">
            <div class="details-cell">
              <div class="package">
                <h4 class="package-price">₹{{ premium_pack.Premium_price }}</h4>
                <h4 class="package-header">{{ premium_pack.Premium_title }}</h4>
                <div class="package-content">
                  <p>{{ premium_pack.Premium_description }}</p>
                  <p style="color: #74767e">
                    <span>
                      <i class="fa-regular fa-clock" style="color: #74767e"></i>
                      {{ premium_pack.Premium_delivery_time }} Days Delivery
                    </span>
                    <span class="ms-2">
                      <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#74767e"
                          d="M4.50001 11.4999C6.40001 13.3999 9.60001 13.3999 11.5 11.4999C12.2 10.7999 12.7 9.7999 12.9 8.7999L14.9 9.0999C14.7 10.5999 14 11.8999 13 12.8999C10.3 15.5999 5.90001 15.5999 3.10001 12.8999L0.900012 15.0999L0.200012 8.6999L6.60001 9.3999L4.50001 11.4999Z">
                        </path>
                        <path fill="#74767e"
                          d="M15.8 7.2999L9.40001 6.5999L11.5 4.4999C9.60001 2.5999 6.40001 2.5999 4.50001 4.4999C3.80001 5.1999 3.30001 6.1999 3.10001 7.1999L1.10001 6.8999C1.30001 5.3999 2.00001 4.0999 3.00001 3.0999C4.40001 1.6999 6.10001 1.0999 7.90001 1.0999C9.70001 1.0999 11.5 1.7999 12.8 3.0999L15 0.899902L15.8 7.2999Z">
                        </path>
                      </svg>
                      {{ premium_pack.Premium_revisions }} Revision
                    </span>
                  </p>

                  {% if premium_pack.Premium_source_file %}
                  <p><i class="fa-solid fa-check"></i> <span class="ms-1">source_file include</span></p>
                  {% else %}
                  <p><i class="fa-solid fa-x fa-rotate-90" style="color: #74767e"></i><span style="color: #74767e"
                      class="ms-2">source_file include</span></p>
                  {% endif %}

           

                  <a href="{% url 'payments' service_profile.id %}?additional_data={{ premium_pack.overview.id }}&additional_data2=3"
                    class="package-continue-btn">
                    <button style="width: 100%;" type="button" class="btn btn-dark btn-lg">Continue<i
                        class="fa-solid fa-right-long fa-2xs ms-4" style="color: white;"></i></button>
                    </button></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        </center>
        <div class="col">

        </div>
      </div>

    </div>
  </div>
  </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      const basicButton = document.getElementById("basic-button");
      const standardButton = document.getElementById("standard-button");
      const premiumButton = document.getElementById("premium-button");

      const basicDetails = document.getElementById("basic-details");
      const standardDetails = document.getElementById("standard-details");
      const premiumDetails = document.getElementById("premium-details");

      basicButton.addEventListener("click", function () {
        basicDetails.style.display = "block";
        standardDetails.style.display = "none";
        premiumDetails.style.display = "none";

        // Change button background colors
        basicButton.style.backgroundColor = "#ffff";  // Change to your desired color

        standardButton.style.backgroundColor = "";
        premiumButton.style.backgroundColor = "";

        basicButton.style.color = "#222325";
        standardButton.style.color = "";
        premiumButton.style.color = "";

      });

      standardButton.addEventListener("click", function () {
        basicDetails.style.display = "none";
        standardDetails.style.display = "block";
        premiumDetails.style.display = "none";

        // Change button background colors
        basicButton.style.backgroundColor = "";
        standardButton.style.backgroundColor = "#ffff";  // Change to your desired color
        premiumButton.style.backgroundColor = "";

        basicButton.style.color = "";
        standardButton.style.color = "#222325";
        premiumButton.style.color = "";
      });

      premiumButton.addEventListener("click", function () {
        basicDetails.style.display = "none";
        standardDetails.style.display = "none";
        premiumDetails.style.display = "block";

        // Change button background colors
        basicButton.style.backgroundColor = "";
        standardButton.style.backgroundColor = "";
        premiumButton.style.backgroundColor = "#ffff";  // Change to your desired color
        basicButton.style.color = "";
        standardButton.style.color = "";
        premiumButton.style.color = "#222325";
      });

      // Show basic details by default
      basicDetails.style.display = "block";
      basicButton.style.backgroundColor = "#ffff";  // Change to your desired color
      basicButton.style.color = "#222325";
    });

  </script>





</body>

</html>