<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successfully Conform Withdrawal</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <link rel="stylesheet" href="{% static 'css/package_selection.css' %}">
</head>

<body>
    <div class="container-fuild overflow-hidden">
        <div class="row me-2 ms-2">
            <div class="col">
                <nav class="navbar navbar-light navbar-transparent">
                    <a class="navbar-brand" href="{% url 'IntroHome' %}">
                        <img src="{% static 'img/logo1.png' %}" width="30" height="30" alt="">
                    </a>
                    <button class="theme-toggle-button theme-btn">Toggle Theme</button>
                </nav>
            </div>
            <div class="col-12">
            </div>
        </div>



        <div class="container mt-5">
            <h1 class="text-success p-5 fw-bold">Successfully Conform Withdrawal
                <p class="text-gray fs-5 fw-lighter">Thank you for your Work</p>

            </h1>
        </div>
    </div>

    <div class="seller-dashboard-redirect">
        <p>Redirecting to Seller Dashboard in <span id="counter">5</span> seconds...</p>
    </div>

    <script>
        var count = 5;
        var timer = setInterval(function () {
            count--;
            document.getElementById("counter").innerHTML = count;
            if (count <= 0) {
                clearInterval(timer);
                window.location.href = "{% url 'seller_dashboard' user.username %}";  // Use placeholder as username is potentially sensitive
            }
        }, 1000);

    </script>


    <script src="{% static 'js/theme.js' %}"></script>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script>
        $(function () {
            $('.mytoolthip').tooltip();
        });
    </script>

</body>

</html>