<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Save Payment method</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">


    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/save_payement_method.css' %}">

</head>



    <div class="container-fluid ">
        <div class="row ">
            <nav class="navbar  navbar-expand-lg navbar-light navbar-transparent ">
                <div class="container-fluid">
                    <!-- Navbar Brand (Logo) -->
                    <a class="navbar-brand" href="{% url 'IntroHome' %}">
                        <img src="{% static 'img/logo1.png' %}" alt="" width="30" height="30">
                    </a>

                    <!-- Navbar Toggler for small screens (moved to the right) -->
                    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon "></span>
                    </button>


                    <div class="collapse navbar-collapse" id="navbarNav">
                        <div class="d-flex ms-auto">
                            <ul class="navbar-nav ">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        Dashboard
                                    </a>
                                    <ul class="dropdown-menu">

                                        <li><a class="dropdown-item"
                                                href="{% url 'seller_dashboard' user.username %}">Seller
                                                Dashboard</a></li>
                                        <li><a class="dropdown-item"
                                                href="{% url 'buyer_dashboard' user.username %}">Buyer
                                                Dashboard</a></li>
                                        {% if user.is_superuser%}
                                        <li><a class="dropdown-item"
                                                href="{% url 'admin_dashboard' user.username %}">Admin
                                                Dashboard</a></li>
                                        {% endif %}


                                        <li><a class="dropdown-item" href="#">Settings</a></li>
                                    </ul>
                                </li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        Profile
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item"
                                                href="{% url 'view_profile_public' user.username %}">View
                                                Profile</a></li>
                                        <li><a class="dropdown-item" href="{% url 'edit_profile' user.username %}">Edit
                                                Profile</a>
                                        </li>
                                        <li><a class="dropdown-item"
                                                href="{% url 'list_all_the_order' user.username %}">My
                                                Purchases</a></li>
                                        <li><a class="dropdown-item" href="#">Settings</a></li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                                    </ul>

                                </li>
                                <!-- <li class="nav-item">
                                    <form class="d-flex me-2 ms-1">
                                        <input class="form-control me-2"
                                            style="  outline: none;box-shadow: none;width: 250px;" type="search"
                                            placeholder="Search" aria-label="Search">
                                        <button class="btn btn-search" type="submit"
                                            style="color: var(--text);  outline: none;box-shadow: none;">Search</button>
                                    </form>
                                </li> -->




                            </ul>
                        </div>

                        <div class="d-flex ms-auto">
                            <a class="btn loginbtn me-2" style="color: var(--text);"
                                href="{% url 'logout' %}">Logout</a>
                            <button data-bs-toggle="tooltip" data-bs-placement="bottom" title="Dark/Light Mode"
                                class="theme-toggle-button  theme-btn mt-4 ms-0 ms-lg-2 mt-lg-0 mytoolthip">Toggle
                                Theme</button>
                                {% for log_user in user_profile %}
                                <a data-bs-toggle="tooltip" data-bs-placement="bottom" title="View Profile"
                                    class="navbar-brand mytoolthip"
                                    href="{% url 'view_profile_public' log_user.user.username %}">
                                    {% if log_user.profile_image %}
                                    <img src="{{ log_user.profile_image.url }}"
                                        style="width: 35px;height:35px;object-fit: cover;float: left;"
                                        class="rounded-circle mt-3 ms-0 ms-lg-2 mt-lg-0" alt="" width="30" height="30">
                                    {% else %}
                                    <!-- Handle case when profile image does not exist -->
                                    <!-- You can show a default image or any other content here -->
                                    <img src="{% static 'img/user.png' %}"
                                        style="width: 35px;height:35px;object-fit: cover;float: left;"
                                        class="rounded-circle mt-3 ms-0 ms-lg-2 mt-lg-0" alt="" width="30" height="30">
                                    {% endif %}
                                </a>
                                {% endfor %}
                        </div>



                    </div>
                </div>
            </nav>
        </div>
        <hr>
    </div>

    <div class="container">
        <div class="row">
            <div class="col">
                <p>Select payment method</p>
                current saved payment method :
                <button type="button" class="btn signupbtn" style="color: var(--background);" data-bs-toggle="modal"
                    data-bs-target="#exampleModal">
                    {{ payment_method.withdrawal_method }} <i class="fa-regular fa-pen-to-square"></i>
                </button>

                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Select the withdrawal method</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <form method="post" action="{% url 'save_payement_method' user.username %}">
                                <div class="modal-body">
                                    {% csrf_token %}
                                    <select name="withdraw_method" class="form-select"
                                        aria-label="Default select example">
                                        <option value="0">Select payment method</option>
                                        <option value="bank_transfer">Bank Tranfer</option>
                                        <option value="upi">Upi id</option>
                                    </select>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn signupbtn">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                {% if payment_method.withdrawal_method == 'upi' %}
                <p>UPI Details</p>
                <form method="post" action="{% url 'save_payement_method' user.username %}">
                    {% csrf_token %}
                    <input type="text" class="form-control" value="{{ upi.upi }}" name="upi_id">
                    <br>
                    <button type="submit" class="btn signupbtn" style="color: var(--background);">Save UPI ID</button>
                </form>
                {% elif payment_method.withdrawal_method == 'bank_transfer' %}
                <p>Bank Details</p>


                <form method="post" action="{% url 'save_payement_method' user.username %}">
                    {% csrf_token %}
                    <!-- User input fields -->
                    <label for="account_number">Account Number:</label>
                    <input type="text" class="form-control" value="{{ bank_details.account_number }}"
                        id="account_number" name="account_number" required>
                    <br>
                    <label for="ifsc_code">IFSC Code:</label>
                    <input type="text" value="{{ bank_details.ifsc_code }}" class="form-control" id="ifsc_code"
                        name="ifsc_code" required>
                    <br>
                    <label for="bank_name">Bank Name:</label>
                    <input type="text" value="{{ bank_details.bank_name }}" class="form-control" id="bank_name"
                        name="bank_name" required>
                    <br>
                    <button type="submit" class="btn signupbtn" style="color: var(--background);">Save Bank
                        Details</button>
                </form>
                {% endif %}
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <div class="d-flex justify-content-center">
                    
                   <a href="{% url 'buyer_dashboard' user.username %}"><button type="button" class="btn signupbtn" style="color: var(--background);" >
Go back to Dashboard
                    </button></a> 


                </div>

            </div>
        </div>
        </div>
    
   






    <script src="{% static 'js/theme.js' %}"></script>
    <script src="{% static 'js/list_all_orders.js' %}"></script>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

    <script>
        $(function () {
            $('.mytoolthip').tooltip();
        });
    </script>

</body>

</html>